aside {
  padding: 20px;
  position: sticky;
  left: 0pt;
  top: 0pt;
  height: 100vh;
  overflow-y: auto;
  display: inline-block;
  width: 200pt;
  height: auto;
  font-size: 12pt;
  vertical-align: top;
  font-weight: 300;
  text-align: left;
  counter-reset: anchor -1;
}

aside > a {
  display: block;
  transition: .25s;
  padding: 5pt 10pt 5pt 20pt;
  font-size: 10pt;
  cursor: pointer;
  color: #ddd;
  text-decoration: none;
  position: relative;
  letter-spacing: .5pt;
  line-height: 15pt;
}
aside > a:before {
  position: absolute;
  counter-increment: anchor;
  content: counter(anchor);
  display: inline-block;
  left: -5pt;
  width: 20pt;
  text-align: right;
  /* top: 0; */
}

aside > a:hover {
  background-color: #444;
  transition: .25s;
}