aside {
  padding: 20px;
  position: sticky;
  left: 0pt;
  top: 0pt;
  height: 100vh;
  overflow-y: auto;
  display: inline-block;
  width: 200pt;
  height: auto;
  font-size: 12pt;
  vertical-align: top;
  font-weight: 300;
  text-align: left;
  counter-reset: anchor -1;
}

aside:before,
aside:after {
  content: '';
  display: inline-block;
  position: absolute;
  border: 3pt double #666;
  transform: rotate(45deg);
}

aside:before {
  width: 10pt;
  height: 10pt;
  right: 3pt;
  bottom: 7pt;
}

aside:after {
  width: 15pt;
  height: 15pt;
  right: 12pt;
  bottom: 5pt;
}

aside > h5 {
  text-align: center;
  font-size: 14pt;
  height: 50pt;
  line-height: 50pt;
  margin: 0;
  font-weight: 100;
  position: relative;
  box-sizing: border-box;
  pointer-events: none;
  background-color: #444;
}

aside > div.aside-content {
  padding-top: 5pt;
  height: calc(100vh - 90pt);
  overflow-y: auto;
  box-sizing: border-box;
  border: 3pt double #444;
}

aside > div.aside-content > a {
  display: block;
  transition: .25s;
  padding: 5pt 10pt 5pt 30pt;
  font-size: 10pt;
  cursor: pointer;
  color: #ddd;
  text-decoration: none;
  position: relative;
  letter-spacing: .5pt;
  line-height: 15pt;
}
aside > div.aside-content > a:before {
  position: absolute;
  counter-increment: anchor;
  content: counter(anchor);
  display: inline-block;
  left: 0pt;
  width: 20pt;
  text-align: right;
  padding-right: 3pt;
  background-color: #444;
  border-right: 2pt solid #666;
}

aside > div.aside-content > a:hover {
  background-color: #444;
  transition: .25s;
}

@media screen and (max-width: 768px) {
  aside {
    font-size: 0;
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    padding: 0;
    width: 100vw;
    background-color: #333;
    z-index: 5;
  }

  aside:before,
  aside:after {
    display: none;
  }

  aside:before {
  }

  aside:after {
  }

  aside > h5 {
    position: relative;
    pointer-events: visible;
    height: 40pt;
    line-height: 40pt;
    font-size: 12pt;
    text-align: left;
    padding-left: 15pt;
  }

  aside > h5 > span.toggler {
    position: absolute;
    right: 5pt;
    top: 5pt;
    box-sizing: border-box;
    display: inline-block;
    width: 30pt;
    height: 30pt;
    vertical-align: middle;
    border: 1pt solid #777;
    border-radius: 3pt;
  }

  aside > h5 > span.toggler > span {
    position: absolute;
    width: 20pt;
    height: 2pt;
    border-radius: 1pt;
    left: 4pt;
    background-color: #777;
    transition: .25s;
  }
  aside.mobile-show-aside > h5 > span.toggler > span {
    transition: .25s;
  }
  aside > h5 > span.toggler > span:nth-child(1) {
    top: 5.5pt;
  }
  aside > h5 > span.toggler > span:nth-child(2) {
    top: 13pt;
  }
  aside > h5 > span.toggler > span:nth-child(3) {
    top: 20.5pt;
  }

  aside.mobile-show-aside > h5 > span.toggler > span:nth-child(1) {
    transform-origin: left top;
    transform: rotate(45deg);
    width: 28pt;
    /* left: 24pt; */
    top: 4pt;
    left: 5pt;
  }
  aside.mobile-show-aside > h5 > span.toggler > span:nth-child(2) {
    opacity: 0;
  }
  aside.mobile-show-aside > h5 > span.toggler > span:nth-child(3) {
    top: 20.5pt;
    width: 28pt;
    transform-origin: left bottom;
    transform: rotate(-45deg);
    top: 23pt;
  }

  aside > div.aside-content {
    padding-top: 0;
    height: 0;
    border: none;
    transition: .25s;
  }
  aside.mobile-show-aside > div.aside-content {  
    padding-top: 5pt;
    height: calc(100vh - 100pt);
    transition: .25s;
    border-bottom: 3pt double #aaa;
  }

  aside > div.aside-content > a {
  }
  aside > div.aside-content > a:before {
  }

  aside > div.aside-content > a:hover,
  aside > div.aside-content > a:focus,
  aside > div.aside-content > a:active {
    background-color: #333;
  }
}
