main {
  display: inline-block;
  box-sizing: border-box;
  padding: 20pt;
  counter-reset: section -1;
  text-align: left;
  position: relative;
}
@media screen and (max-width: 768px) {
  main {
    padding: 10pt 0 0 0;
  }
}