label.checkbox-input {
  display: inline-block;
  height: 30pt;
  line-height: 30pt;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  margin-right: 15pt;
  margin-bottom: 10pt;
  cursor: pointer;
  transition: .25s;
}
label.checkbox-input:hover > span.checkbox-display {
  background-color: #444;
  transition: .25s;
}
label.checkbox-input:hover > span.checkbox-content {
  color: #ddd;
  transition: .25s;
}
label.checkbox-input > input[type="checkbox"] {
  display: none;
}
label.checkbox-input > span.checkbox-display {
  display: inline-block;
  width: 30pt;
  height: 30pt;
  transition: .25s;
  border-radius: 50%;
  position: relative;
  border: 3pt solid #aaa;
  border-style: double;
  box-sizing: border-box;
  box-shadow: 2pt 1pt 3pt #222;
}
label.checkbox-input > span.checkbox-display:before,
label.checkbox-input > span.checkbox-display:after {
  content: '';
  display: inline-block;
  position: absolute;
  left: 4pt;
  top: 11pt;
  width: 16pt;
  height: 2pt;
  border-radius: 1pt;
  background-color: #555;
  transition: .25s;
}
label.checkbox-input > span.checkbox-display:before {
  transform: rotate(45deg);
}
label.checkbox-input > span.checkbox-display:after {
  transform: rotate(-45deg);
}
label.checkbox-input > input[type="checkbox"]:checked + span.checkbox-display { 
  background-color: #66BB6A;
  transition: .25s;
}
label.checkbox-input > input[type="checkbox"]:checked + span.checkbox-display:before,
label.checkbox-input > input[type="checkbox"]:checked + span.checkbox-display:after {
  transition: .25s;
  background-color: #eee;
}
label.checkbox-input > input[type="checkbox"]:checked + span.checkbox-display:before {
  transform: rotate(-120deg);
  width: 10pt;
  top: 15pt;
}
label.checkbox-input > input[type="checkbox"]:checked + span.checkbox-display:after {
  transform: rotate(120deg);
  left: 7pt;
  top: 12pt;
}

label.checkbox-input > span.checkbox-content {
  display: inline-block;
  height: 30pt;
  line-height: 30pt;
  vertical-align: top;
  margin-left: 8pt;
  transition: .25s;
  color: #bbb;
}

label.checkbox-input > input[type="checkbox"]:checked ~ span.checkbox-content {
  transition: .25s;
  color: #eee;
}

@media screen and (max-width: 768px) {
  label.checkbox-input {
    display: block;
    height: auto;
    margin-left: 20pt;
  }
  /* label.checkbox-input + label.checkbox-input {
    margin-top: 0pt;
  } */
  label.checkbox-input > span.checkbox-display {
    width: 20pt;
    height: 20pt;
    border: 1pt solid #aaa;
  }
  label.checkbox-input:hover > span.checkbox-display {
    background-color: #333;
  }
  label.checkbox-input > span.checkbox-content {
    font-size: 10pt;
    line-height: 20pt;
    width: calc(100% - 30pt);
    height: auto;
  }
  label.checkbox-input:hover > span.checkbox-content {
    color: #bbb;
  }
  label.checkbox-input > span.checkbox-display:before,
  label.checkbox-input > span.checkbox-display:after {
    width: 10pt;
    height: 1pt;
    background-color: #888;
    left: 4pt;
    top: 9pt;
  }
  label.checkbox-input > span.checkbox-display:before {
  }
  label.checkbox-input > span.checkbox-display:after {
  }
  label.checkbox-input > input[type="checkbox"]:checked + span.checkbox-display { 
  }
  label.checkbox-input > input[type="checkbox"]:checked + span.checkbox-display:before,
  label.checkbox-input > input[type="checkbox"]:checked + span.checkbox-display:after {
  }
  label.checkbox-input > input[type="checkbox"]:checked + span.checkbox-display:before {
    top: 12pt;
    width: 6pt;
  }
  label.checkbox-input > input[type="checkbox"]:checked + span.checkbox-display:after {
    top: 9pt;
    left: 5pt;
    width: 12pt;
  }

  label.checkbox-input > input[type="checkbox"]:checked ~ span.checkbox-content {
  }
}
