ul.List {
  padding-left: 15pt;
}

ul.List > li {
  list-style-type: none;
  position: relative;
  line-height: 24pt;
  transition: .25s;
  user-select: none;
  transition: .25s;
  color: #bbb;
}

ul.List > li:hover {
  color: #eee;
  transition: .25s;
}

ul.List > li:not(.stateless) {
  cursor: pointer;
}

ul.List > li:not(.stateless):before {
  content: '\f096';
  font-family: 'FontAwesome';
  font-size: 10pt;
  color: #777;
  height: 24pt;
  line-height: 24pt;
  display: inline-block;
  margin: 0 10pt;
}

ul.List > li.stateless:before {
  content: '';
  display: inline-block;
  width: 5pt;
  height: 5pt;
  line-height: 24pt;
  margin: 0 10pt;
  border: 1pt solid #777;
  transform: rotate(45deg);
}

ul.List > li:not(.stateless).active {
  color: #66BB6A;
}
ul.List > li:not(.stateless).active:before {
  content: '\f046';
  color: #66BB6A;
}
