div.App > section.main-page {
  display: block;
  width: 100vw;
  height: 100vh;
  text-align: center;
  background-image: url('./norway.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
}

div.App > section.main-page:before {
  content: '';
  width: 0;
  height: 100%;
  vertical-align: middle;
  display: inline-block;
}

div.App > section.main-page > div.main-page-wrapper {
  display: inline-block;
  width: 100%;
  padding: 20pt 0;
  vertical-align: middle;
  background-image: linear-gradient(-90deg, transparent 10%, rgba(0, 0, 0, 0.7), transparent 90%);
  user-select: none;
}

div.App > section.main-page > div.main-page-navlinks {
  position: absolute;
  display: inline-block;
  bottom: 50pt;
  left: 50%;
  margin-left: -100pt;
  padding: 10pt 0;
  width: 200pt;
  color: #333;
  background-color: rgba(255, 255, 255, 0.5);
}
div.App > section.main-page > div.main-page-navlinks > h4 {
  margin: 0 0 10pt 0;
  user-select: none;
}
div.App > section.main-page > div.main-page-navlinks > div.navlinks > a {
  color: #555;
  text-decoration: none;
  font-size: 20pt;
  transition: .25s;
}
div.App > section.main-page > div.main-page-navlinks > div.navlinks > a:hover {
  color: #333;
  transition: .25s;
}
div.App > section.main-page > div.main-page-navlinks > div.navlinks > a + a {
  margin-left: 10pt;
}

div.App > section.main-page > div.main-page-wrapper > h1 {
  font-weight: 100;
  font-size: 50pt;
  margin: 0 0 10pt 0;
  padding: 20pt 0;
  color: #fff;
}
div.App > section.main-page > div.main-page-wrapper > h2 {
  font-weight: 100;
  font-size: 28pt;
  margin: 0 0 4pt 0;
  color: #fff;
}
div.App > section.main-page > div.main-page-wrapper > h3 {
  font-weight: 100;
  font-size: 16pt;
  color: #aaa;
  margin: 0;
}

@media screen and (max-width: 768px) {
  div.App > section.main-page {
  }

  div.App > section.main-page:before {
  }

  div.App > section.main-page > div.main-page-wrapper {
    background-image: linear-gradient(-90deg, transparent, rgba(0, 0, 0, 0.7) 25%, rgba(0, 0, 0, 0.7) 75%, transparent);
  }

  div.App > section.main-page > div.main-page-navlinks {
    bottom: 15pt;
    width: 150pt;
    margin-left: -75pt;
    padding: 7.5pt 0 5pt 0;
  }
  div.App > section.main-page > div.main-page-navlinks > h4 {
    font-size: 10pt;
  }
  div.App > section.main-page > div.main-page-navlinks > div.navlinks > a {
    font-size: 18pt;
  }
  div.App > section.main-page > div.main-page-navlinks > div.navlinks > a:hover {
  }
  div.App > section.main-page > div.main-page-navlinks > div.navlinks > a + a {
  }

  div.App > section.main-page > div.main-page-wrapper > h1 {
    font-size: 30pt;
    margin: 0 0 2pt 0;
  }
  div.App > section.main-page > div.main-page-wrapper > h2 {
    font-size: 14pt;
  }
  div.App > section.main-page > div.main-page-wrapper > h3 {
    font-size: 10pt;
  }
}
