div.App {}

div.App > section.main-page {
  display: block;
  width: 100vw;
  height: 100vh;
  text-align: center;
  background-image: url('./norway.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
}

div.App > section.main-page:before {
  content: '';
  width: 0;
  height: 100%;
  vertical-align: middle;
  display: inline-block;
}

div.App > section.main-page > div.main-page-wrapper {
  display: inline-block;
  width: 100%;
  padding: 20pt 0;
  vertical-align: middle;
  background-color: rgba(0, 0, 0, 0.5);
}

div.App > section.main-page > div.main-page-navlinks {
  position: absolute;
  display: inline-block;
  bottom: 50pt;
  left: 50%;
  margin-left: -100pt;
  padding: 10pt 0;
  width: 200pt;
  color: #333;
  background-color: rgba(255, 255, 255, 0.5);
}
div.App > section.main-page > div.main-page-navlinks > h4 {
  margin: 0 0 10pt 0;
}
div.App > section.main-page > div.main-page-navlinks > div.navlinks > a {
  color: #555;
  text-decoration: none;
  font-size: 20pt;
  transition: .25s;
}
div.App > section.main-page > div.main-page-navlinks > div.navlinks > a:hover {
  color: #333;
  transition: .25s;
}
div.App > section.main-page > div.main-page-navlinks > div.navlinks > a + a {
  margin-left: 10pt;
}

div.App > section.main-page > div.main-page-wrapper > h1 {
  font-weight: 100;
  font-size: 50pt;
  margin: 0 0 10pt 0;
  padding: 20pt 0;
  color: #fff;
}
div.App > section.main-page > div.main-page-wrapper > h2 {
  font-weight: 100;
  font-size: 28pt;
  margin: 0 0 4pt 0;
  color: #fff;
}
div.App > section.main-page > div.main-page-wrapper > h3 {
  font-weight: 100;
  font-size: 16pt;
  color: #aaa;
  margin: 0;
}
